.grid-input{
    display: flex;
    flex-direction: row;
    flex:45%;
    flex-wrap: wrap;
}
.intag{
    width: 48%; margin-left: 1%;
}
.inputs{
    width: 100%;
    padding: .5em; margin-top: 1em;

}
@media screen and (max-width:576px){
    .grid-input{
        display: block;
    }
    .intag{
        width: 100%; margin-left: 0%;
    }
    .inputs{
        width: 100%; margin-left: 0%;
        padding: .5em; margin-top: 1em;
    }
    
}