@media screen and (max-width: 992px) {
  .darken {
    height: 400px;
    position: absolute;
    width: 100%;
    filter: brightness(40%);
    background-color: indigo;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  header {
    position: relative;
    height: 400px;
    padding: 10px 10px 0 10px;
    background-image: inherit;
  }
  header .text {
    padding: 25vh 0 0 9% ;
    color: white;
  }
  header .text span:nth-child(1) {
    font: 60px open;
  }
  header .text span:nth-child(3) {
    font: 20px cursive;
  }
  header button {
    background-color: inherit;
    padding: 10px 40px;
    margin: 5vh 0 0 20%;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    border: #fff 0.2px solid;
  }
  main {
    width: 100%;
    position: relative;
    top: 0vh;
    padding-top: 5px;
  }
  main .xyz {
    padding: 0 0%;
    width: auto;
    display: grid;
    grid-template-areas: 'bbb bbb' 'aaa aaa' 'ccc ccc' 'eee eee';
    grid-template-rows: 400px auto auto 200px;
    grid-template-columns: 39% 59%;
    grid-gap: 5px;
    margin-left: 50px;
    margin-right: 50px;
  }
  main .xyz .aaa {
    grid-area: aaa;
  }
  main .xyz .bbb {
    grid-area: bbb;
  }
  main .xyz .ddd {
    grid-area: ddd;
    background-color: #fff;
    display: none;
  }
  main .xyz .ddd div {
    height: 100%;
    width: 49%;
    background-color: grey;
    border: none;
  }
  main .xyz .ddd .ddd1 {
    margin-right: 0%;
    font-size: 25px;
  }
  main .xyz .eee {
    grid-area: eee;
    padding-top: 0.7em;
    font-size: 300%;
    margin: auto;
  }
  main .xyz .product {
    grid-area: ccc;
    background-color: #fea;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0px;
    margin-left: 0px;
  }
  main .xyz .product .item {
    width: 100%;
    flex: 29%;
    margin: 0px 2px;
    height: auto;
    margin-bottom: 5px;
  }
  main .xyz .product .item div {
    height: 30%;
    color: #000;
    background-color: #fff;
    padding: 2px 4px;
    font: 15px open;
    color: white;
  }
  main .xyz .product .item div .name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
  }
  main .xyz .product .item div .price {
    font-size: 25px;
    font-style: bold;
  }
  footer {
    position: static;
    top: 0;
    background-color: black;
  }
  footer span {
    left: 40%;
    bottom: 2%;
  }
}
@media screen and (max-width: 576px) {
  header {
    position: relative;
    height: 400px;
    padding: 10px 10px 0 10px;
    background-image: inherit;
  }
  header .text {
    padding: 20vh 0 0 9% ;
    color: white;
  }
  header .text span:nth-child(1) {
    font: 60px open;
  }
  header .text span:nth-child(3) {
    font: 20px cursive;
  }
  header button {
    background-color: inherit;
    padding: 10px 40px;
    margin: 2vh 0 0 20%;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    border: #fff 0.2px solid;
  }
  main {
    padding-top: 2px;
  }
  main .xyz {
    padding: 0 0%;
    margin: 0 0px;
    width: auto;
    grid-template-rows: 300px auto auto 200px;
  }
  main .xyz .aaa {
    grid-area: aaa;
    display: none;
  }
  main .xyz .bbb {
    grid-area: bbb;
  }
  main .xyz .ddd {
    grid-area: ddd;
  }
  main .xyz .eee {
    grid-area: eee;
  }
  main .xyz .product {
    width: 100%;
    grid-area: ccc;
    height: auto;
    grid-column-gap: 2.4px;
    margin-left: 2px;
    grid-row-gap: 3px;
    margin-right: 5px;
  }
  main .xyz .product .item {
    width: 50%;
    flex: 40%;
    cursor: pointer;
    height: auto;
  }
  main .xyz .product .item :nth-of-type(2n) {
    opacity: 0;
  }
  main .xyz .product .item div {
    font: 15px open;
  }
  main .xyz .product .item div .name {
    font-size: 14px;
  }
  main .xyz .product .item div .price {
    font-size: 20px;
  }
  footer span {
    width: 50%;
    left: 30%;
    bottom: 0.7%;
    font-size: 15px;
  }
}
