.name{
    width: 90%;
    margin-left: 5%;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.inputele{
    width: 90%;
    margin:25px auto ;
}
.inputele input {
    width: 100%;
    padding: .5em;
    margin: 2px 0;
}
.authnav{
    height: 50px;
    background-color: rgb(114, 112, 112);
    width: 100%;
    color: white;
    font-size: 2em;
}
.authnav a{
    margin-left: 4%;
}
/* @media screen and (max-width:992px) */